/* Basic body styling */
body {
  margin: 25px;
  font-family: 'Roboto', sans-serif; 
  background-color: #fafafa; 
}

/* Main App container */
.App {
  text-align: center;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 15px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Softer shadow */
}

/* Header styling */
.App-header {
  background-color: #00796b;
  padding: 20px;
  border-radius: 15px 15px 0 0;
  color: white;
}

.App-header h1 {
  font-size: 28px; 
  margin: 0;
}

.App-header button {
  background-color: #009688;
  border: none;
  color: white;
  padding: 12px 24px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.App-header button:hover {
  background-color: #00796b; 
}

.App-header button:focus {
  outline: none;
}

/* Image styling */
img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.content-wrapper {
  min-height: 400px; /* Set a minimum height */
  padding: 20px;
  
}

.content-wrapper h2 {
  margin-bottom: 20px;
}



/* Styling for buttons within the app */
button {
  background-color: #0288d1; 
  border: none;
  color: white;
  padding: 12px 20px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

button:hover {
  background-color: #01579b; 
}

button:focus {
  outline: none;
}

/* Link styling */
.App-link {
  color: #0288d1;
  text-decoration: none;
  font-size: 18px;
}

/* Toast styling */
.Toastify__toast {
  background-color: #00796b; 
  color: #fff; 
}

.Toastify__close-button svg {
  width: 14px;
  height: 16px;
  fill: #fff;
}

.Toastify__toast-icon svg {
  width: 24px;
  height: 24px;
}
